body{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
form{
    margin: 20px;
}
#container{
    background:linear-gradient(180deg,blue,hsl(39, 100%, 61%));
    padding: 40px;
    box-shadow:  5px 5px rgba(0, 0, 0, 0.7) ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#value{
    font-size: 2rem;
    font-weight: bold;
    width: 450px;
    margin: 5px;
    border: 2px solid salmon;
}
button{
    background-color: hsl(120, 98%, 48%);
    cursor: pointer;
    color: aliceblue;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0px;
    border-radius: 5px;
    padding: 2px;
    font-size: 2rem;
}
button:hover{
    background-color: rgb(19, 220, 19);
}